<div class="col-xs-12 col-md-8 col-md-offset-2">
	<h1>Sign Up</h1>
	<div class="panel panel-default">
		<form (ngSubmit)="onSignUp(f)" #f="ngForm">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-3">
						<label for="Name">First Name</label>
						<input class="form-control" type="text" name="firstname"  ngModel #firstname="ngModel" required>
					</div>
					<div class="col-xs-3">
						<label for="Name">Last Name</label>
						<input class="form-control" type="text" name="lastname" ngModel #lastname="ngModel" required>
					</div>
					<div class="col-xs-6">
						<label for="email">Email</label>
						<input class="form-control" type="text" name="email" ngModel #email="ngModel" required>	
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="Name">Password</label>
						<input type="password" class="form-control" name="password" ngModel #password="ngModel" required >
					</div>
				</div>
					<button type="submit" class="btn btn-primary">Sign-Up</button>
			</div>
		</form>
	</div>
</div>