<h1>Sign Up</h1>
<div class="panel panel-default">
	<form (ngSubmit)="onSignUp(f)" #f="ngForm">
		<div class="alert">Hi</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">
					<label for="Name">First Name</label>
					<input class="form-control" type="text" name="firstname" [ngModel]="first" required>
				</div>
				<div class="col-xs-3">
					<label for="Name">Last Name</label>
					<input class="form-control" type="text" name="lastname" [ngModel]="last" required>
				</div>
				<div class="col-xs-6">
					<label for="email">Email</label>
					<input class="form-control" type="text" name="email" [ngModel]="email" required>	
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<label for="Name">Password</label>
					<input type="password" class="form-control" name="password" [ngModel]="password">
				</div>
				<div class="col-xs-3">
				    <label for="Name">Confirm Password</label>
					<input type="password" class="form-control" name="cpassword" [ngModel]="cpassword">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Sign-Up</button>
		</div>
	</form>
</div>